body{
  background-color: #30475E;
}
header{
  background-image: linear-gradient(to bottom, rgba(255,255,255,0),  rgba(48,71,94,1)), url(../Snake/images/snake.jpg);
  background-size: contain;
  background-position: center center;
  height: 500px; /* Set the height of the container */
  width: 100%;
  position: relative;
}
nav img{
  position: absolute;
  bottom: 0;
  right: 10%;
}
nav{
  background-color:#30475E;
  text-align: center;
  position: relative;
  
}
nav button{
  background-color:#30475E;
  background-image: url("images/playButton.png"); /* Set the background image */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  background-size: contain; /* Scale the image to fit inside the button */
  border: none; /* Remove the button border */
  width: 200px; /* Set the button width */
  height: 100px; /* Set the button height */
  
}

section{
  margin-left: 20%;
  margin-right: 20%;
  width: auto;
  margin-top: 10%;
  
}
section p{
  color:white
}

section h1{
  color: white;
  
}
.reglas{
  background-color: #011627;
}
.h2juegos{
  color: white;
}
