*{
    padding: 0;
    margin: 0;
}




body {
    background-image: url(imagenes/fondo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #30475E;
    
}
.main{
    background-color: transparent;
    height: 100%;
}

.enlace {
    width: 100px;
    height: 100px;
}

.encabezado {

    height: 150px;
    background-color: #222831;
    padding: 8px;
    display: block;
    align-items: center;

}   

.imagenLogo{
    float: left;
    margin-left: 10px;
}

.buscar{
    margin-top: 100px;
    margin-right: 400px;
    font-family: arial;
    list-style: none;
    background-color: #222831;

    
}

.buscar input{
    
    margin-left: 1100px;
    background-color: #d0d3d7;
    width: 300px;
    

}


.buscar li a{
    text-decoration: none;
    color: white;
    padding: 20px;
    display: block;
    float: left;
    margin-left: 100px;
}

.enlace{
    background-color: #30475E;
    border-top-right-radius: 15%;
    border-top-left-radius: 15%;
}



.imagenPerfil{
    margin-left: 700px;
    position: relative;
    top: -130px;
    border-radius: 50%;
}


.texto {
    font-size: 32px;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
}
a {
    cursor: pointer;
}


.iconoLogin {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    min-height: 100%;
    border-radius: 100px;
}
.icono {
    min-height: 100px;
    width: 100px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cuerpo {
    box-shadow:
       inset 0 -3em 3em rgba(0,0,0,0.1),
             0 0  0 2px rgb(255,255,255),
             0.3em 0.3em 1em rgba(0,0,0,0.3);
   /* background-color: #30475E;*/
    margin: 5%;
    opacity: 0.95;
    height: 100%;
    padding: 1%;
    border-radius: 23px;
    background-color:#30475E;
    height: 100vh;
}

.tablaJuegos {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /*grid-template-rows: repeat(3, 1fr);*/
    align-items: center;
}

.juego {
    border: 3px solid #ffffff;
    font-family: arial;
    height: 100px;
    width: 60%;
    text-align: center;
    background: white;
    display: flex;
    position: relative;
    justify-content: center;
    font-size: 2rem;
    margin-bottom: 64px;
    border-radius: 20px;
    align-self: center;  
}

.nombre {
    width: 100%;
    position: absolute;
    bottom: 0;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.701);
    color: white;
    font-family: 'roboto';
    font-weight: 300;
    left: 0;
    border-radius: 0px 0px 20px 20px;
    border: 0px;
    cursor: pointer;
}

a {
     cursor: pointer;
}
input {
    text-align: center;
    display: block;
    margin: 0 auto;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 10px;
    outline: none;
    transition: border-color 0.3s ease-in-out;
  }
  
  input:focus {
    border-color: #0077ff;
  }
  h3{
    color: #ccc;
    
  }




section{
    margin: 2%;
    background-color: #30475E;
    border-radius: 23px;
    height: 24%;
}

.tablaJuegos{
    text-align: center;
    padding: 0.5%;
    margin-left: 7%;
}
h3{
    text-align: center;
    font-size: 33px;
}
.btjuegos {
    background-color: #fff;
    border: 2px solid #333;
    border-radius: 10px;
    color: #333;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    margin-right: 10px;
    padding: 10px 20px;
    transition: all 0.2s ease-in-out;
  }
  
  .btjuegos.active {
    background-color: #333;
    color: #fff;
  }
  
  .btjuegos:hover {
    background-color: #333;
    color: #fff;
  }
  .filtro-juegos {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .filtro-juegos button {
    margin: 0 10px;
  }